.body1
{
    background-color: rgb(255, 173, 214);
    background-position: center;
    background-size: cover;
}

h1
{
    color: rgb(255, 71, 194);
    font-size: 40px;
    font-family: sans-serif;
}

#myCanvas
{
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(163, 0, 163);
}

.button1
{
    font-size: 10px;
    font-family: sans-serif;
    background-color: rgb(255, 253, 133);
    color: rgb(255, 166, 0);
}
.body1
{
    background-color: rgb(255, 173, 214);
    background-position: center;
    background-size: cover;
}

h1
{
    color: rgb(255, 71, 194);
    font-size: 40px;
    font-family: sans-serif;
}

#myCanvas
{
    background-color: rgb(255, 255, 255);
    border-width: 10px;
    border-style: rich;
}

#span1
{
    font-size: 30px;
    font-family: sans-serif;
    color: plum;
}

.button1
{
    font-size: 10px;
    font-family: sans-serif;
    background-color: rgb(253, 255, 145);
}

#span2
{
    font-size: 30px;
    font-family: sans-serif;
    color: plum;
}